<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" defaultTestSuite="ContentHub Console Library" processIsolation="false" stopOnFailure="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
    </exclude>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="ContentHub Console Library">
      <directory suffix="Test.php">tests/Command</directory>
      <directory suffix="Test.php">tests/EventSubscriber</directory>
    </testsuite>
    <testsuite name="ContentHub Console - Drupal">
      <directory suffix="Test.php">tests/Drupal</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
